body{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 540px

}

main {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	padding: 0px 40px;
	box-sizing: border-box;
	width: 100%;
	order: 1;
}

div[class=aside]{
	float: left;
	display: flex;
	flex-direction: column;
	background-color: rgb(230, 184, 0);
	width: 100%;
	order: 2;

}

article > div > h4{

	font-size: 1em;
	padding: 0 0 0 0%;
	
}
article > div > h3{

	font-size: 1.25em;
	padding: 0px 0px 0px 0%;
	
}
article > div > p{

	text-align: left;
	margin-left: 0%;
	text-align: left;

}

#global{
  width:100%;
}
#global #gauche {
    margin: 10px 10px 50px 50px;
    width:60%;
}
#global #droite {
     margin: 30px 100px 50px 50px;
}
article> aside{

	margin: 12px 10%;
	float: left;
	font-size: 0.8em;
	flex-direction: column;

}
section[class=pro] article> div{

	margin: -40px 50px 50px 10%;

}

section[class=pro] article> div> h3{

padding: 70px 100px 0px 0px;
font-size: 1.3em;
	
}

section[class=formation] article> div{

	margin: 70px 100px -30px 10%;

}
section[class=pro] article> div{

	margin: -10px 100px -30px 10%;

}
article>aside{
	
	margin: 20px 10px 10px 50px;
	
}

article>div>h3{
	
	margin: 10px 10px 10px 0px;
	
}